body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    font-size: 2.5em;
    color: #ffcc00;
}

p {
    font-size: 1.2em;
    color: #bbb;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #ffcc00;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ff9900;
}